@page "{id:int}"
@model Biblio.BackOffice.Pages.Admin.Books.EditModel
@{
  ViewData["Title"] = "Edit";
}
<h2>Edit Book</h2>

<form method="post">
  <input type="hidden" name="Book.Id" value="@Model.Book.Id" />
  <div>Title <input name="Book.Title" value="@Model.Book.Title" /></div>
  <div>Author <input name="Book.Author" value="@Model.Book.Author" /></div>
  <div>Category <input name="Book.Category" value="@Model.Book.Category" /></div>
  <div>Year <input name="Book.Year" value="@Model.Book.Year" /></div>
  <div>Summary <input name="Book.Summary" value="@Model.Book.Summary" /></div>
  <button type="submit">Save</button>
  <a href="/Admin/Books">Back</a>
</form>

<p style="margin-top:10px;">
  PDF: <code>@Model.Book.PdfPath</code>
</p>
